*{margin:0;padding:0;box-sizing:border-box;font-family:Poppins}

body{
  background:
    radial-gradient(circle at top,#ffae00,#000),
    url("https://wallpapercave.com/wp/wp9414177.jpg") center/cover fixed;
  color:#fff;
  text-align:center;
  overflow-x:hidden;
}

/* INTRO */
#intro{
  position:fixed;
  inset:0;
  background:black;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  font-size:2.5rem;
  color:#ffae00;
  z-index:9999;
  transition:1s;
}

/* LIVE TIME */
#liveTime{
  position:fixed;
  top:20px;
  left:20px;
  padding:12px 22px;
  border-radius:30px;
  background:rgba(0,0,0,.4);
  box-shadow:0 0 20px #ffae00,0 0 60px #ff6a00;
  font-weight:800;
  z-index:100;
}

/* MUSIC */
#musicToggle{
  position:fixed;
  top:20px;
  right:20px;
  width:55px;
  height:55px;
  border-radius:50%;
  border:none;
  background:#ffae00;
  box-shadow:0 0 30px #ffae00;
  cursor:pointer;
  font-size:1.3rem;
  z-index:100;
}

/* HERO */
.hero{padding:120px 20px}

.chakra-ring{
  width:180px;
  height:180px;
  margin:auto;
  border-radius:50%;
  animation:chakra 2s infinite alternate;
}

.chakra-ring img{
  width:100%;
  height:100%;
  border-radius:50%;
}

@keyframes chakra{
  100%{
    box-shadow:
      0 0 40px #00f8ff,
      0 0 80px #7f5cff,
      0 0 160px #ff6aff;
  }
}

/* CARDS */
.cards{
  display:grid;
  gap:20px;
  padding:40px;
}

.card{
  padding:30px;
  border-radius:20px;
  background:rgba(255,255,255,.08);
  backdrop-filter:blur(10px);
  cursor:pointer;
  transition:.3s;
}

.card:hover{
  transform:scale(1.08);
  box-shadow:0 0 60px #00f8ff;
}

/* GLASS */
.glass{
  background:rgba(255,255,255,.08);
  margin:30px;
  padding:30px;
  border-radius:20px;
  backdrop-filter:blur(15px);
}

/* BUTTONS */
.buttons a{
  padding:14px 30px;
  border-radius:30px;
  background:linear-gradient(135deg,#ffae00,#ff6a00);
  color:white;
  text-decoration:none;
  margin:10px;
}

.outline{
  background:none;
  border:2px solid #ffae00;
}
